.product {
  background-color: var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
  clear: both;
  padding: 5% 10% 70px 10%;
  min-height: 85vh;
}
.product-info button {
  width: 100%;
  margin-bottom: 1rem;
}
.product-info span {
  font-size: 0.813rem;
}
.product-price {
  margin-bottom: 1.2rem;
}
.product-price,
.product-info h2 {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.3rem;
}
.product-price p {
  font-size: 0.8rem;
  align-items: center;
  text-align: center;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

.col-1-2 {
  width: 50%;
  height: 100%;
  float: left;
}
/* Image size center and no stretch css */
.product-image .product-bg {
  width: 100%;
  height: 25rem;
  object-fit: scale-down;
}

.product-image .indicator {
  text-align: center;
}

.product-image .dot {
  background-color: #aaa;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  width: 5px;
  height: 5px;
  transition: all 400ms ease;
}

.dot:hover {
  background-color: #444;
}

.product-info {
  padding: 0px 8%;
}

.product-info h1 {
  margin-bottom: 5px;
}

.product-info .select-dropdown {
  display: inline-block;
  margin-right: 0.625rem;
  position: relative;
  min-width: 100%;
}

.product-info select {
  cursor: pointer;
  margin-bottom: 1.25rem;
  padding: 0.75rem 5.75rem 0.75rem 0.938rem;
  background-color: var(--white-color);
  border: none;
  border-radius: 2px;
  color: var(--black-color);
  font-size: 0.938rem;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 100%;
}

select:active,
select:focus {
  outline: none;
  box-shadow: none;
}

.select-dropdown:after {
  content: " ";
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--black-color);
}

.product-info a.add-btn {
  background-color: #444;
  border-radius: 2px;
  color: var(--gray-color);
  display: inline-block;
  font-size: 0.9rem;
  margin-bottom: 1.875rem;
  padding: 0.938rem 6.25rem;
  text-align: center;
  text-decoration: none;
  transition: all 400ms ease;
}

a.add-btn:hover {
  background-color: #555;
}

/* .product-info p {
  margin-bottom: 30px;
} */

.product-info p a {
  border-bottom: 1px dotted #444;
  color: #444;
  font-weight: 700;
  text-decoration: none;
  transition: all 400ms ease;
}

.product-info p a:hover {
  opacity: 0.7;
}

.product-info ul {
  font-size: 0.75rem;
  padding: 0;
  margin-bottom: 3.125rem;
}

.product-info li {
  list-style-type: none;
  margin-bottom: 5px;
}

.product-info li::before {
  content: "\2022";
  margin-right: 1.2rem;
}

.product-info a.share-link {
  color: var(--gray-color);
  font-size: 11px;
  margin-right: 1.875rem;
  text-decoration: none;
}

.product-info a.share-link:hover {
  border-bottom: 2px solid var(--gray-color);
}

@media (max-width: 768px) {
  .product {
    padding: 1.5rem 0 0 0;
    display: flex;
    flex-direction: column;
  }
  .col-1-2 {
    min-width: 100%;
  }
}
